@model IEnumerable<Nobels.Models.productionClass>
@{
    Layout = "_LayoutRepresntitiveAndAdvisor";
}

<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }

    div:where(.swal2-container) h2:where(.swal2-title) {
       
        font-size: 20px;
        
    }
/*
    div:where(.swal2-icon) {
       
        width: 3em;
        height: 3em;
      
    }*/
</style>
<div class="col-md-12  row mt-4">
    <div class="col-md-12 ">
        <h3 class="" style="text-align: center;">تحديثات المستودع</h3>
        <h4 class="" style="text-align: center;">استلام Pallets</h4>
    </div>
    <div class="col-md-12 row justify-content-center w-100 my-3 ">
        <div class="col-2">
            <input class="form-check-input" type="radio" name="radio" id="f_all" value="0"
                   onchange="chnage_filter(this)" checked>
            <label class="form-check-label" for="">الكل </label>
        </div>
        <div class="col-2">
            <input class="form-check-input" type="radio" name="radio" id="f_unsch"
                   onchange="chnage_filter(this)" value="1">
            <label class="form-check-label" for=""> تم الاستلام</label>
        </div>
        <div class="col-2">
            <input class="form-check-input" type="radio" name="radio" id="f_prim"
                   onchange="chnage_filter(this)" value="2">
            <label class="form-check-label" for="">غير مستلم </label>
        </div>
    </div>

    <div class="col-md-8 mx-auto w-100 my-4">
        <input class="form-control" type="search" name="search" id="search"
               placeholder="&#xF002; العميل / رقم العرض / أمر المبيعات"
               style="font-family: FontAwesome">
    </div>
    <div class=" col-10 mx-auto">
        <table class="table " id="example">
            <thead>
                <tr>

                    <th>رقم العرض</th>
                    <th>تاريخ إنشاء العرض</th>
                    <th>رقم أمر المبيعات</th>
                    <th>قيمة أمر المبيعات</th>
                    <th>العميل</th>
                    <!-- <th>تاريخ التدقيق الفني</th> -->
                    <th>المدينة</th>
                    <th hidden>المعرض</th>
                    <th></th>
                    <!-- <th></th> -->


                </tr>
            </thead>
            <tbody style="text-align:center;">

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@Html.DisplayFor(modelItem => item.quotionNumberId)</td>
                        <td>@Html.DisplayFor(modelItem => item.quotation_date)</td>
                        <td>@Html.DisplayFor(modelItem => item.quotionCode)</td>
                        <td>2000</td>
                        <td>@Html.DisplayFor(modelItem => item.CustomerArabicName)</td>

                        <td>@Html.DisplayFor(modelItem => item.city)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.branch)</td>



                        @if (item.PalletsDate == null)
                        {
                            if(DateTime.Now<item.ProductionDate){
                               <td>
                                <button class="btn btn-submit" onclick="updatetimeFromProductionDate(@item.IntallationRequestId,'@item.ProductionDate.Value.ToShortDateString()')">استلام </button>
                            </td>
                            }
                            else{
                                <td>
                                    <button class="btn btn-submit" onclick="updatetime(@item.IntallationRequestId)">استلام </button>
                                </td>
                            }
                            
                        }
                        else
                        {
                            <td style="color:#B2CB49;">
                                تم الاستلام بتاريخ


                                @item.PalletsDate.Value.ToShortDateString()
                            </td>
                        }







                    </tr>
                }

            </tbody>
        </table>
        @* <p class="col-md-12  row">
        <span class="col-auto align-self-center">تاريخ استلام Pallets : </span>
        <input type="date" class="form-control col-3" name="" id="">

        </p>*@
    </div>




    @*    <div class="col-md-12 my-4 mx-auto w-100 ">
    <button class="btn btn-submit"
    type="submit">
    استلام
    </button>
    </div>
    *@
</div>


@section Scripts

    {



    <script>
        //var filter = 0
        var table = $('#example').DataTable({
            searching: true, paging: false, info: false, columnDefs: [{
                targets: "_all",
                searchable: "visible"
            }],
        });
        function chnage_filter(e) {
            val = $(e).val();
            // console.log(val);
            $('tbody tr').hide();
            //filter = val;
            if (val == 0) {
                $('tbody tr').show();

            }
            if (val == 1) {

                $('table > tbody  > tr').each(function (index, tr) {

                    if ($(tr).find('td:nth-child(8)').text().includes("تم الاستلام بتاريخ")) {
                        $(this).show();
                    }

                });
            }
            if (val == 2) {

                $('table > tbody  > tr').each(function (index, tr) {

                    if (!$(tr).find('td:nth-child(8)').text().includes("تم الاستلام بتاريخ")) {
                        $(this).show();
                    }

                });
            }
        }
        // #myInput is a <input type="text"> element
        $('#search').on('keyup', function () {
            table.search(this.value).draw();
        });
        function updatetime(id) {
            Swal.fire({
                title: 'استلام الطلب',
                icon: 'info',
                showCancelButton: true,
                cancelButtonText: 'إلغاء',
                confirmButtonText: 'استلام'
            }).then((result) => {
                if (result['isConfirmed']) {

                    $.post("/trkebat/updatePalletsDate", { installReq: id }, function (data) {


                        Swal.fire({
                            icon: 'success',
                            title: 'تم الاستلام',


                        }).then(function () {
                            window.location.reload();

                        });


                    });

                }
            });
//swalAlertWithDateInput::
            //Swal.fire({
            //    title: 'Select a date',
            //    html: '<input type="date" id="swal-input">',
            //    preConfirm: () => {
            //        return document.getElementById('swal-input').value;
            //    },
            //    onOpen: () => {
            //        document.getElementById('swal-input').focus();
            //    }
            //}).then(result => {
            //    if (result.isConfirmed) {
            //        Swal.fire(
            //            'Selected date:',
            //            result.value
            //        );
            //    }
            //});

        }



        function updatetimeFromProductionDate(id,productionDate){
            console.log(productionDate.toString());
            Swal.fire({
                title: 'إن تاريخ الإنتاج هو ' + productionDate + '<br>'+'هل أنت متأكد؟',
                icon: 'info',
                showCancelButton: true,
                cancelButtonText: 'إلغاء',
                confirmButtonText: 'استلام'
            }).then((result) => {
                if (result['isConfirmed']) {

                    $.post("/trkebat/updatePalletsDateFromProductionDate", { installReq: id }, function (data) {


                        Swal.fire({
                            icon: 'success',
                            title: ['تم الاستلام بتاريخ', data.split('T')[0]],


                        }).then(function () {
                            window.location.reload();

                        });


                    });

                }
            });


        }
        

    </script>
}