@model IEnumerable<Nobels.Models.BillModel>
@{
    Layout = "_LayoutshowRoomAndProjectManger";
    
}

     <div class="row" style="margin-top:10px;">
    <div class="col-12">


        <div class="card">

          <div class="card-header">
                <h3 class="card-title">
                </h3>
                @if (ViewBag.status==1)
                {
                <button  id="bu" class="float-left" onclick="go()">
                    @*<i class="fa fa-plus"></i>*@
                   إضافة منتج جديد للعرض

                </button>
                }
                <div>

                    <a action="action"
                       class="float-right"
                       onclick="window.history.go(-1); return false;"
                       type="submit" style="color:#b2cb49;"
                       value="Cancel"><i class="fa fa-arrow-left fa-lg float-right"></i></a>

                    <a id="bu11" class="float-right" asp-controller="showRoomAndProjectManger" asp-action="BillView" asp-route-id="@ViewBag.qqqid" style="padding:0 10px">
@*                    <i class="fa fa-plus"></i>
*@                        عرض سعر معمل 
                </a>
                    <a id="bu22" class="float-right" asp-controller="showRoomAndProjectManger" asp-action="RoomBillView" asp-route-id="@ViewBag.qqqid" style="padding:0 10px ">
                    عرض سعر زبون

                </a>
                    <a id="bu33" class="float-right" asp-controller="showRoomAndProjectManger" asp-action="RoomDetaildView" asp-route-id="@ViewBag.qqqid" style="padding:0 10px ">
                    عرض سعر مفصل وفق الغرف

                </a>
                </div>
@*                <a asp-controller="AddCustomer" asp-action="QuatationIndex" asp-route-id="@ViewBag.qqid"> <i class="fa fa-arrow-left fa-lg float-right"></i></a>
*@

            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dep_table">

                        <thead style="white-space: nowrap;">
                            <tr>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Customer)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.roomName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.MainItemName)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.itemname)
                                </th>
                               
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.quantity)
                                </th>
                                <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.Unitprice)
                                </th>
                                <th style="text-align: center;" hidden>
                                    @Html.DisplayNameFor(model => model.discountValue)
                                </th>
                                 <th style="text-align: center;" hidden>
                                    @Html.DisplayNameFor(model => model.percentType)
                                </th>
                                 <th style="text-align: center;">
                                    @Html.DisplayNameFor(model => model.totalValue)
                                </th>
                                

                                 

                                


                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.Customer)
                                </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.roomName)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.MainItemName)
                                    </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.itemname)
                                </td>
                               
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.quantity)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.Unitprice)
                                </td>
                                <td style="text-align: center;" hidden>
                                    @Html.DisplayFor(modelItem => item.discountValue)
                                </td>
                                <td style="text-align: center;" hidden>
                                    @Html.DisplayFor(modelItem => item.percentType)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.totalValue)
                                </td>
                                    @if (item.status == "مقبول" || item.status == "مرفوض")
                                    {
                                        <td style="text-align: center;  white-space: nowrap" id="hide">
                                            <a id="edit" asp-action="EditOrderDetail" asp-route-id="@item.orderId" asp-controller="showRoomAndProjectManger"> <i class="fas fa-edit"></i></a> |
                                            <a id="delete" asp-action="DeleteOrderDetail" asp-route-id="@item.orderId" asp-controller="showRoomAndProjectManger"> <i class="fas fa-trash-alt"></i></a>

                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center;">
                                        </td>
                                    }

                               
                            </tr>
                            }
                        </tbody>



                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
 <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dep_table">

                        <thead style="white-space: nowrap;">
                            <tr>
                                <th style="text-align: center;">
                                   رقم العرض
                                </th>
                                <th style="text-align: center;">
                                    التعدبلات على العرض
                                </th>
                                 

                                


                            </tr>
                        </thead>
                        <tbody id="table">
                           
                        </tbody>



                    </table>

                </div>
            </div>


@section Scripts {


<script>


    function go(){
            var url = document.URL;
            var stuff = url.split('/');
            var qid = stuff[stuff.length - 1];
            window.location.href = '@Url.Action("CreateOrderDetail", "showRoomAndProjectManger")/' + qid;
}

function show()
{
    var url = document.URL;
            var stuff = url.split('/');
            var id = stuff[stuff.length - 1];
   // alert(id);
            $.get("/showRoomAndProjectManger/ShowQuotationUpdate", { quotationId: id }, function (data) {

              var table_tr="";

         
             for (var i = 0; i < data.length; i++) {
                 
                  table_tr+=`
                     <tr>
                      <td style="text-align: center;"> `+ data[i].qoutationId+ ` </td>
                       <td  style="text-align: center;">` + data[i].updates+`  </td>

                            

                             

                       </tr>`;
                
                  }
                  
                
                  
                
         document.getElementById('table').innerHTML = table_tr;

             
                });
}


       

$(document).ready(function() {
    
    //var status1 = @ViewBag.status;
        
    







    //        if (status1 == 1) {




    //            document.getElementById('bu').style.visibility = 'hidden';
    //           // document.getElementById('bu11').style.visibility = 'hidden';
    //            //document.getElementById('bu22').style.visibility = 'hidden';
    //            //document.getElementById('bu33').style.visibility = 'hidden';

    //            var myTab = document.getElementById('dep_table');
    //            for (i = 1; i < myTab.rows.length; i++) {

    //                // GET THE CELLS COLLECTION OF THE CURRENT ROW.
    //                var objCells = myTab.rows.item(i).cells;



    //                objCells.item(9).style.visibility = 'hidden';
                   
    //            }

               
    //        }
    show();


});
</script>
    <script>
        
        $(function () {
            $('#dep_table').DataTable({
                "lengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "All"]],
                "responsive": true,
                "autoWidth": true,
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يتم العثور على أية نتائج",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "البحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }
            });
        });</script>
}
