@model IEnumerable<Nobels.Models.MainItem>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManagerc
@{
        ViewData["Title"] = "Index";

    var user = UserManagerc.FindByNameAsync(User.Identity.Name);
    var role = user.Result.RoleId;
    if (role == 6)
    {
        Layout = "_LayoutProductManeger";

    }
    else
    {
        Layout = "_Layout";

    }
}





<div class="row" style="margin-top:10px;">
    <div class="col-12">


        <div class="card">

            <div class="card-header">
                <h3 class="card-title">
                </h3>
                <a class="float-left" asp-action="Create">
                    <i class="fa fa-plus"></i>
                    إنشاء منتج أساسي جديد

                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dep_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MainItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainItemEnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainItemPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MainItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainItemEnName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainItemPhoto)
            </td>
            <td>
                       <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-eye"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>

</div>
</div>
</div>



@section Scripts {
    <script>
        $(function () {
            $('#dep_table').DataTable({
                "lengthMenu": [[5, 10, 15, 20, 25, -1], [5, 10, 15, 20, 25, "All"]],
                "responsive": true,
                "autoWidth": true,
                "language": {
                    "sProcessing": "جارٍ التحميل...",
                    "sLengthMenu": "أظهر _MENU_ مدخلات",
                    "sZeroRecords": "لم يتم العثور على أية نتائج",
                    "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                    "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                    "sInfoPostFix": "",
                    "sSearch": "البحث:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "الأول",
                        "sPrevious": "السابق",
                        "sNext": "التالي",
                        "sLast": "الأخير"
                    }
                }
            });
        });</script>
}
